
.container{
  border-style:solid;  
  margin-left:0;
  height:100%;
  width:100%;
 
  margin-top:0;
  
  
}

h1{
text-align:center;
}


ul.navbar{
 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  

}

.navbar li{
float:left;

}
ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25em;
}

div.userinput{
text-align: center; 



}
body{
    background-color:orange;
    margin:0;
}

button.info{
 padding-left:28px;   
 padding-right:28px;  
 padding-top:14px;   
 padding-bottom:14px;  
}
